* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --backgroundOfWebsite: #181D23;
    --leftPanelColor: #4B5769;
    --rightPanelColor: linear-gradient(180deg, rgba(55, 64, 76, 1) 0%, rgba(21, 26, 32, 1) 100%);
    --activeColor: rgba(255, 255, 255, .2);
    --hoverLeftPanelColor: linear-gradient(160deg, rgba(0, 110, 255, .25) 0%, rgba(9, 255, 0, 0.25) 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 1600px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--backgroundOfWebsite);
}

.active {
    background-color: var(--activeColor);
}

.panel {
    position: absolute;
    width: 1600px;
    height: 800px;
    border: 1px solid #4b5769;
    border-radius: 15px;
    overflow: hidden;

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--leftPanelColor);

        .date-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 30px;

            .day {
                font-size: 1.8rem;
                font-weight: bold;
            }

            .time {
                font-size: 5.2rem;
                font-weight: bold;
            }

            .date {
                font-size: 1.6rem;
            }
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 500px;


            a {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                height: 30%;
                border: 1px solid #fff;
                border-radius: 20px;
                font-weight: bold;
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
            }

            a:hover {
                background-color: transparent;
                background-image: var(--hoverLeftPanelColor);
            }

            &-item {
                font-size: 2.2rem;
                margin-bottom: 0.2rem;

                i {
                    font-size: 5rem;
                }
            }
        }

        .info-box {
            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 1.4rem;
            }
        }
    }

    &-right{
        background-image: var(--rightPanelColor);

        .main-stats-title {
            margin-top: 20px;
            margin-left: 50px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
        }

        .stats {
            width: 100%;
            color: #fff;
            margin-left: 40px;

            &-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 400px;
                height: 130px;
                margin: 30px 10px;
                padding-bottom: 15px;
                font-size: 1.2rem;
                border: 1px solid #fff;
                border-radius: 15px;
                transition: background-color .3s;

                &__title {
                    font-size: 2.2rem;
                    margin-top: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                &:hover {
                    background-color: rgba(255,255,255,.08);
                }
            }
        }
    }
}